.todo-container__header-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-container__mascot-frame {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
}

.todo-container__mascot {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.3);
}

.todo-container__header {
  font-size: 26px;
  margin: 0 0 20px;
  color: #444444;
  font-weight: 800;
}
